{% extends 'base.html.twig' %}

{% block body %}
    {% for category in postCategories %}
        <h1>{{ category.title }}</h1>
        {{ dump(category) }}
    {% endfor %}



    <hr>

    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>Date de création : {{ post.dateCreated|date('d/m/Y') }}</p>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}